# Ignore all hidden files and directories
.*

# Do not ignore .gitignore files
!.gitignore
!**/.gitignore

# Ignore SQLite databases
*.db

# Ignore compiled binaries
modules/11_install_external_packages_and_webview/redis_webview_demo/redis_webview_demo
modules/11_install_external_packages_and_webview/redis_console_demo/redis_console_demo
modules/11_install_external_packages_and_webview/webview_demo/webview_demo

